# Dependency directories
/node_modules

# Environment variables
.env

# Build output
/build
/dist

# Log files
*.log

# Editor-specific files
.vscode
.idea

# System files
.DS_Store
Thumbs.db

# Dependency lock files
package-lock.json
yarn.lock
